---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Card from "@/components/Card.astro";
import { getSortedPosts } from "@/utils/getSortedPosts";
import { getUniqueTags } from "@/utils/getUniqueTags";
import { getPostsByTag } from "@/utils/getPostsByTag";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = getUniqueTags(posts);
  return tags.flatMap(({ tag }) => {
    const tagPosts = getPostsByTag(posts, tag);
    // Ovde pravimo paginaciju (npr. 5 postova po strani)
    return Array.from({ length: Math.ceil(tagPosts.length / 5) }, (_, i) => ({
      params: { tag, page: String(i + 1) },
      props: { posts: tagPosts.slice(i * 5, (i + 1) * 5) },
    }));
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Tag: ${tag}`}>
  <Main pageTitle={`Tag: ${tag}`}>
    <ul>
      {posts.map(post => <Card {...post} />)}
    </ul>
  </Main>
</Layout>
