---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import { useTranslations } from "@/i18n";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

const t = useTranslations(Astro.currentLocale);
const currentYear = new Date().getFullYear();
---

<footer
  class:list={["portal-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row sm:py-4"
  >
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row text-sm">
      <span>{t.footer.copyright} &#169; {currentYear}</span>
      <span class="px-2">|</span>
      <a href="https://toolsnestt.com" class="hover:text-accent underline underline-offset-4">
        toolsnestt.com
      </a>
      <span class="hidden sm:inline">&nbsp;—&nbsp;{t.footer.allRightsReserved}</span>
    </div>
    <Socials />
  </div>
</footer>
